{% extends 'admin/admin_base.html' %}

{% block title %}Organizations List | Club Manager{% endblock %}

{% block content %}
<div class="container mt-4" style="position: absolute; width: 100%;">
    <h2 class="text-center mb-4">List of Created Organizations</h2>
    
    <!-- Table to display organizations -->
    <div class="card shadow-sm">
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Organization Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Creation Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for organization in organizations %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ organization.name }}</td>
                        <td>{{ organization.description }}</td>
                        <td>{{ organization.creation_date }}</td>
                        <td>
                            <a href="/admin/edit-organization/{{ organization.id }}" class="btn btn-warning btn-sm">
                                <i class="fa fa-edit"></i> Edit
                            </a>
                            <a href="/admin/delete-organization/{{ organization.id }}" class="btn btn-danger btn-sm">
                                <i class="fa fa-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center">No organizations found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
